.card-header {
    background-color: var(--primary-color);
    color: white;
}

.avatar {
    border-radius: 50%;
    margin-right: 10px;
    max-width: 50px;
}

.edit-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0056b3;
}
/* Agrega más estilos según tus necesidades */