<div [@fadeAnimation]>
    <div class="container">
        <app-title title="Usuarios"></app-title>
        <div class="card my-4">
            <div class="card-header">
                <h6 class="text-black">Usuarios</h6>
                <button style="font-size: 1.15rem;" class="add-btn" (click)="openModal()">Añadir usuario</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table table-hover">
                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element">
                                <img [src]="element.imgUrl" alt="Avatar" class="avatar">
                                <div>
                                    <h6>{{ element.name }}</h6>
                                    <p>{{ element.email }}</p>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="function">
                            <th mat-header-cell *matHeaderCellDef> Organización </th>
                            <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef> Rol </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngFor="let role of element.roles">
                                    <span *ngIf="role.active">{{ getRoleInSpanish(role.type) }}</span>
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="registered">
                            <th mat-header-cell *matHeaderCellDef> Registrado </th>
                            <td mat-cell *matCellDef="let element"> {{element.registered | dateFormat}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" class="actions-column">
                                <button class="edit-btn" (click)="openEditModal(element)">Editar</button>
                                <button class="delete-btn" (click)="deleteUser(element.uid)">Eliminar</button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons class="pt-2"></mat-paginator>
            </div>
        </div>
    </div>
</div>