.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
}


/* Agrega más estilos según tus necesidades */