<div class="container">
    <div class="card my-4">
        <div class="card-header">
            <h6 class="text-black">Usuarios</h6>
            <button class="add-btn" (click)="openModal()">Añadir usuario</button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Función</th>
                        <th>Rol</th>
                        <th>Registrado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersArray">
                        <td>
                            <img [src]="user.imgUrl" alt="Avatar" class="avatar">
                            <div>
                                <h6>{{ user.name }}</h6>
                                <p>{{ user.email }}</p>
                            </div>
                        </td>
                        <td>{{ user.organization }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.registered }}</td>
                        <td>
                            <button class="edit-btn" (click)="editUser(user.uid)">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>