/* Estilos globales */
* {
  box-sizing: border-box;
}

/* Contenedor principal */
.n-container {
  background-image: url('../../../assets/img/login-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.form-container {
  border: 1px solid #ccc;
  padding: 2% 5% 8% 5%;
  max-width: 600px;
  /* Ancho m치ximo para pantallas grandes */
  width: 100%;
  /* Ancho flexible para adaptarse a la pantalla */
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
      position: relative;
}

/* Media queries para diferentes tama침os de pantalla */
@media (max-width: 768px) {
  .form-container {
    padding: 10% 5%;
    /* Mayor padding en pantallas peque침as */
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 15% 5%;
    /* Mayor padding en pantallas muy peque침as */
  }
}

/* Estilos para los campos del formulario y botones */
mat-form-field,
button {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para el mensaje inferior */
.form-message {
  text-align: center;
  margin-top: 40px;
}

/* Estilos para el logo */
.logo-img {
  width: 3.5rem;
  position: absolute;
  margin: 1rem auto;
  display: block;
  top: .1rem;
  left: 1rem;
}

.form-header {
  text-align: center;
  width: 100%;
  margin: auto;
  /* Centra el div en el espacio disponible */
}