.n-container{
    background-image: url('../../../assets/img/login-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Añade un borde alrededor del contenedor */
  padding-top: 20%; /* Añade un poco de espacio dentro del borde */
  padding-bottom: 20%; /* Añade un poco de espacio dentro del borde */
  width: 35rem; /* Establece el ancho del contenedor */
  height: 30rem;
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
  background-color: #f5f5f5; /* Añade un color de fondo */
  border-radius: 15px; /* Añade esquinas redondeadas */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Añade una sombra */
  transition:all 0.3s ease;
}

.form-message{
  text-align: center;
  margin-top: 40px;
  display: grid;
  justify-content: center;
  align-items: center;

}

.form-actions{
  text-align: center;
  margin-top: 20px;
}

mat-form-field {
  width: 100%; /* Asegura que los campos de entrada ocupen todo el ancho del contenedor */
  margin-bottom: 20px; /* Añade espacio debajo de cada campo de entrada */
}

button {
  margin-top: 20px; /* Añade espacio encima del botón */
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
  height: 50px; /* Añade altura al botón */
  border: none; /* Elimina el borde del botón */
  color: white; /* Establece el color del texto del botón */
  border-radius: 5px; /* Añade esquinas redondeadas al botón */
  transition: all 0.3s ease; /* Añade una transición suave al botón */
}

span {
  color: black;
  font-size: 16px;
  margin-bottom: 7px; /* Añade espacio debajo del mensaje de error */
  display: block; /* Asegura que el mensaje de error esté en su propia línea */
}
