<div [@fadeAnimation]>
    <div class="n-container">
        <div class="form-container">
            <img src="assets/img/logo.png" alt="logo" class="logo-img">
            <div class="form-header">
                <h1 style="font-weight: 100;">Inicio de sesión</h1>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field appearance="fill">
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" id="email" formControlName="email" required>
                    <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                        El email es requerido.
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                        Por favor, introduce una dirección de email válida.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contraseña:</mat-label>
                    <input matInput type="password" id="password" formControlName="password" required>
                    <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
                        La contraseña es requerida.
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        La contraseña debe tener al menos 6 caracteres.
                    </mat-error>
                </mat-form-field>

                <div class="form-actions">
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                        Iniciar sesión
                    </button>
                </div>
                <div class="form-message">
                    <span>¿Requieres una cuenta?</span>
                    <span>Comunícate con nuestro equipo de desarrollo:</span>
                    <span><b>zona.inc.e1&#64;gmail.com</b></span>
                </div>
            </form>
        </div>
    </div>
</div>