

.line-chart {
    width: 100%;
    padding: 3%; 
}

.bar-chart {
    max-width: 100%;
    margin: 0, 0, 2rem, 0;
}

.bar-chart-container {
    margin-bottom: 2rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}



//Styles for dropdown select year
.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}