<div [@fadeAnimation]>
    <div class="container">
        <app-title title="Registros"></app-title>
        <div class="card my-4">
            <div class="card-header">
                <h6 class="text-black">Registros</h6>
                <div class="buttons-div">
                    <button class="action-btn" id="generateReportBtn" (click)="generateReport()">Generar reporte</button>
                    <button class="add-btn" id="addReportBtn" (click)="openModal()">Añadir registro</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table table-hover">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Título </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.date | dateFormat}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" class="actions-column">
                                <button (click)="deleteRegister()" class="delete-btn">Eliminar</button>
                                <button mat-icon-button color="accent" (click)="viewOnMap(element)" class="add-btn">Mapa</button>
                                <button mat-icon-button  (click)="openDetailsRegisterModal(element)" class="detail-btn"
                                [attr.data-id]="element.id">Detalles</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>