<div [@fadeAnimation]>
    <div class="card my-4">
        <div class="chart-container">
            <mat-card>
                <mat-card-content>
                        <h2>Gráficas comparativas:  Heridos/Accidentes/Muertes</h2>
                    <app-year-selector (yearChange)="onYearChange($event)"></app-year-selector>
                    <div class="polar-area-charts row">
                        <div class="polar-area-chart col-md-6">
                            <mat-card>
                                <mat-card-content>
                <app-statistical-panel-page-6-1 [selectedYear]="selectedYear"></app-statistical-panel-page-6-1>                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="polar-area-chart col-md-6">
                            <mat-card>
                                <mat-card-content>
                <app-statistical-panel-page-6-2 [selectedYear]="selectedYear"></app-statistical-panel-page-6-2>                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>