<form [formGroup]="registerForm" (ngSubmit)="saveChangues()" class="container mt-5">
    <div class="titleSection">
        <h2 class="title"> Registro </h2>
        <mat-icon (click)="enableEdit()" title="Habilitar edición" class="custom-icon">edit</mat-icon>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label"> Título: </label>
        <input [readonly]="!isEditMode" id="title" type="text" formControlName="title" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label"> Descripción: </label>
        <input [readonly]="!isEditMode" id="description" formControlName="description" class="form-control">
    </div>
    <div class="mb-3">
        <label for="date" class="form-label"> Fecha: </label>
        <input [readonly]="!isEditMode" id="date" type="date" formControlName="date" class="form-control">
    </div>
    <div class="mb3">
        <!-- Sección para el mapa interactivo -->
        <label for="map" class="form-label">Ubicación:</label>
        <div id="map" style="height: 400px;"></div>
    </div>
    <div class="imgsContainer">
        <div *ngFor="let imageUrl of registerForm.get('images')?.value; let i = index" class="images-array-div">
            <img [src]="imageUrl" alt="Image {{ i }}" class="images-preview"
            (click)="enlargeImage(imageUrl)">
        </div>
    </div>
    <div class="mb3">
        <label class="form-label"> Creado por: </label>
        {{userName}}
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-primary" [disabled]="!isEditMode"> Guardar</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()"> Cerrar </button>
    </div>
</form>