.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 1000px;
    /* Ajusta según sea necesario */
    padding: 3%;
    background: #ffffff;
        display: flex;
            justify-content: center;
            align-items: center;
}

.chart-container canvas {
    width: 80%;
        /* Ajusta según sea necesario */
        height: 80%;
        /* Ajusta según sea necesario */
        display: block;
        box-sizing: border-box;
}