<ngx-loading [show]="loading"></ngx-loading>
<div class="main-content">
    <mat-toolbar color="primary" style="border-radius: 5px;">
        <span class="navbar-brand">ZONA</span>
        <span class="example-spacer"></span>
        <button mat-icon-button [routerLink]="['/admin/user-profile']">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
</div>