<div [@fadeAnimation]>
    <div class="container-fluid">
        <app-title title="Mapa de Registros"></app-title>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
<!--                     <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Buscar</button>
                        </div>
                    </div> -->
                    <div class="mt-4">
                        <div id="map" style="height: 700px; width: 100%; border: 1px solid #ddd;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>