<div class="container">
    <h1 class="display-4">Mapa de Registros</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Buscar">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Buscar</button>
                    </div>
                </div>
                <div class="mt-4">
                    <div id="map" style="height: 500px; width: 100%; border: 1px solid #ddd;"></div>
                </div>
            </div>
        </div>
    </div>
</div>