<div [@fadeAnimation]>
    <div class="dashboard-container">
        <!-- Resumen de Actividad -->
        <section class="activity-summary">
            <div class="section-header">
                <h2>Resumen de Actividad: {{currentYear}}</h2>
                <button mat-raised-button (click)="goToStatiscticalPanel()" class="action-btn report-button" >Ver estadísticas detalladas</button>
            </div>
            <mat-card>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon>person_add</mat-icon>
                            <span>Usuarios integrados este año: {{ newUsersThisYear }}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>bookmark</mat-icon>
                            <span>Registros realizados este año: {{ registersThisYear }}</span>
                        </mat-list-item>
                        <!-- Más actividades -->
                    </mat-list>
                </mat-card-content>
            </mat-card>

        </section>

        <!-- Gráficas de Análisis de Datos -->
        <section class="data-analysis">
            <div class="section-header">
                <h2>Análisis de Datos</h2>
            </div>
            <div class="charts">
                <div class="chart" id="registersChart">
                    <!-- Gráficas de Análisis de Datos -->
                    <div style="display: block;">
                        <app-statistical-panel-page-3 [showYearSelector]="false"></app-statistical-panel-page-3>
                    </div>
                </div>
                <div class="chart" id="reportsChart">
                    <div style="display: block;">
                        <app-statistical-panel-page-4 [showYearSelector]="false"></app-statistical-panel-page-4>
                    </div>
                </div>
                <!-- Más gráficos -->
            </div>
        </section>

        <!-- Alertas y Notificaciones -->
        <section class="alerts">
            <h2>Alertas y Notificaciones</h2>
            <div class="alert alert-danger" role="alert">
                <strong>Atención:</strong> {{mostDeadlyMunicipality}} es el municipio con más muertes en {{currentYear}}
            </div>
            <div class="row">
                <app-table-top-municipalities></app-table-top-municipalities>
            </div>
        </section>
    </div>
</div>