<div [@fadeAnimation]>
    <div class="dashboard-container">
        <!-- Resumen de Actividad -->
        <section class="activity-summary">
            <div class="section-header">
                <h2>Resumen de Actividad</h2>
                <button mat-raised-button class="add-btn report-button">Generar Reporte</button>
            </div>
            <mat-card>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon>person_add</mat-icon>
                            <span>Usuarios integrados este año: {{ newUsersThisYear }}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>bookmark</mat-icon>
                            <span>Registros realizados este año: {{ registersThisYear }}</span>
                        </mat-list-item>
                        <!-- Más actividades -->
                    </mat-list>
                </mat-card-content>
            </mat-card>

        </section>

        <!-- Gráficas de Análisis de Datos -->
        <section class="data-analysis">
            <div class="section-header">
                <h2>Análisis de Datos</h2>
            </div>
            <div class="charts">
                <div class="chart" id="registersChart">
                    <!-- Gráficas de Análisis de Datos -->
                    <div style="display: block;">
                        <app-statistical-panel-page-3 [showYearSelector]="false"></app-statistical-panel-page-3>
                    </div>
                </div>
                <div class="chart" id="reportsChart">
                    <div style="display: block;">
                        <app-statistical-panel-page-4 [showYearSelector]="false"></app-statistical-panel-page-4>
                    </div>
                </div>
                <!-- Más gráficos -->
            </div>
        </section>

        <!-- Alertas y Notificaciones -->
        <section class="alerts">
            <h2>Alertas y Notificaciones</h2>
            <div class="alert alert-danger" role="alert">
                <strong>Atención:</strong> {{mostDeadlyMunicipality}} es el municipio con más muertes
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="notification">
                        <mat-icon>notifications</mat-icon>
                        <p>Recibiste un nuevo mensaje</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="reminder">
                        <mat-icon>alarm</mat-icon>
                        <p>Reunión a las 14:00</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="reminder">
                        <mat-icon>alarm</mat-icon>
                        <p>Reunión a las 14:00</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>