<div [@fadeAnimation]>
    <div class="n-container">
        <div class="form-container">
            <img src="assets/img/logo.png" alt="logo" class="logo-img">
            <div class="form-header">
                <h1 style="font-weight: 100;">Recuperar contraseña</h1>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" id="email" formControlName="email" required>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
                        El email es requerido.
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
                        Por favor, introduce una dirección de email válida.
                    </mat-error>
                </mat-form-field>

                <div class="form-actions">
                    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
                        Recuperar contraseña
                    </button>
                </div>
                <div class="form-message">
                    <span>¿Recordaste tu contraseña?</span>
                    <a href="/login">Iniciar sesión</a>
                </div>
            </form>
        </div>
    </div>
</div>