.modal-container {
    background-color: #1e1e1e;
    color: #fff;
    //border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    padding: 25px;
    min-width: 450px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header {
    margin-bottom: 18px;
}

.modal-title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.modal-body {
    flex-grow: 1;
    margin-bottom: 18px;
    overflow-y: auto;
}

.modal-footer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.close-button,
.navigate-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
    transition: background-color 0.3s;
}

.close-button:hover,
.navigate-button:hover {
    background-color: #e64a19;
}