.container {
    background-color: #f7f7f7;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    overflow-y: auto;
}

.form-label {
    display: inline-block;
    margin-right: 10px;
    width: 20%;
    text-align: right;
    color: #333;
    font-weight: bold;
}

.form-control,
.form-select {
    display: inline-block;
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
}

.row-for-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 0 20%;
}
.form-control-half {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    
}


.alert {
    display: block;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.avatar {
    width: 10%;
    height: 20%;
    border-radius: 50%;
    margin: 0 auto;
    display: inline;
    margin: 0 0 20px 10px;
}

.title {
    display: inline;
    margin-right: 45%;
    width: 20%;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.btn {
    float: right;
    margin: 10px;
}

.images-array-div{
    display: inline;
    justify-content: center;
    margin: 10px;
}

.images-preview{
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
}

.imgsContainer{
    margin-top: 1rem;
}


/* Media query para pantallas medianas (tablets) */
@media (max-width: 768px) {

    .form-label,
    .form-control,
    .form-select,
    .form-control-half {
        width: 100%;
    }

    .row-for-half {
        padding: 0;
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .form-label {
        text-align: left;
        width: auto;
        margin-right: 0;
    }

    .btn {
        float: none;
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}