
<form [formGroup]="registerForm" (ngSubmit)="saveRegister()" class="container">
    <h2 class="title">Añadir registro</h2>
    <div class="mb-3">
        <label for="title" class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="title" formControlName="title">
        <div *ngIf="registerForm.get('title')?.invalid && registerForm.get('title')?.touched"
            class="alert alert-danger">
            El titulo es obligatorio
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripción:</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
        <div *ngIf="registerForm.get('description')?.invalid && registerForm.get('description')?.touched"
            class="alert alert-danger">
            La descripción es obligatoria
        </div>
    </div>
<div class="mb3">
    <!-- Sección para el mapa interactivo -->
    <label for="map" class="form-label">Ubicación:</label>
    <div>
        <p *ngIf="!markerSelected">Selecciona la ubicación del registro haciendo clic en el mapa</p>
        <p *ngIf="markerSelected" class="txt-success">Ubicación seleccionada</p>
    </div>
    <div id="map" style="height: 400px;"></div>
</div>
    <div class="mb-3 d-flex aling-items-center">
        <label for="images" class="form-label me-2">Imagenes:</label>
        <input type="file" id="images" (change)="handleImageSelection($event)" accept="image/*" multiple>
    </div>
    <div class="imgsContainer">
        <div *ngIf="imageSelected; else noImage">
            <div *ngFor="let preview of imagePreviews" class="images-array-div">
                <img [src]="preview" alt="Image Preview" class="images-preview">
            </div>
        </div>
        <ng-template #noImage>
            <img src="assets/img/no-image-selected.png" alt="No Image Selected" style="max-width: 90px;">
        </ng-template>
    </div>

    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Guardar</button>
</form>