.container {
    background-color: #f7f7f7;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    overflow-y: auto;
}

.form-label {
    display: inline-block;
    margin-right: 10px;
    width: 20%;
    text-align: right;
    color: #333;
    font-weight: bold;
}

.form-control,
.form-select {
    display: inline-block;
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
}

.alert {
    display: block;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.avatar {
    width: 10%;
    height: 20%;
    border-radius: 50%;
    margin: 0 auto;
    display: inline;
    margin: 0 0 20px 10px;
}

.title {
    display: inline;
    margin-right: 45%;
    width: 20%;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.btn {
    float: right;
    margin: 10px;
}

.images-array-div{
    display: inline;
    justify-content: center;
    margin: 10px;
}

.images-preview{
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
}

.imgsContainer{
    margin-top: 1rem;
}